﻿@model Uye

@{
    ViewBag.Title = "Kayıt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section about-heading">
    <div class="container">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5" style="background-color:gold">
                <h1>@WebApplication4.Resources.lang.Complete</h1>
                <span class="section-heading-lower">@ViewBag.Tarih</span>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @WebApplication4.Resources.lang.Username
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.KullanıcıAdı, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.KullanıcıAdı, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @WebApplication4.Resources.lang.Password
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @WebApplication4.Resources.lang.confirmPassword
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SifreDogrula, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SifreDogrula, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value=@WebApplication4.Resources.lang.register class="btn btn-default" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <label class="label-success"> @ViewBag.KayitMesaj </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-2">
                                <label class="label-danger"> @ViewBag.AyniKullanici </label>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
