﻿@model Uye

@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-section about-heading">
    <div class="container">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5" style="background-color:gold">
                @ViewBag.Hata
                <h1>@WebApplication4.Resources.lang.Login1</h1>
                <span class="section-heading-lower">@ViewBag.Tarih</span>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @WebApplication4.Resources.lang.Username
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.KullanıcıAdı, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.KullanıcıAdı, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @WebApplication4.Resources.lang.Password
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <input type="submit" value=@WebApplication4.Resources.lang.Login />
                        <input onclick="location.href='http://localhost:59041/AddOrEdit/Index'" type="button" value=@WebApplication4.Resources.lang.register />
                    </div>
                }
            </div>
        </div>
    </div>
</section>


