﻿@model WebApplication4.Models.Kitap

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-section cta">
    <div class="col-xl-9 mx-auto">

        <h2>@WebApplication4.Resources.lang.delete</h2>

        <h3>@WebApplication4.Resources.lang.eminMisin</h3>
        <div>
            <h4>@WebApplication4.Resources.lang.book</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @WebApplication4.Resources.lang.bookName
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KitapAdı)
                </dd>

                <dt>
                    @WebApplication4.Resources.lang.Sayfa
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SayfaSayısı)
                </dd>

                <dt>
                    @WebApplication4.Resources.lang.Yazar
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KitapYazarı)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value=@WebApplication4.Resources.lang.delete class="btn btn-default" /> |
                    @Html.ActionLink(WebApplication4.Resources.lang.backToList, "Index")
                </div>
            }
        </div>
    </div>
</section>