﻿@model IEnumerable<WebApplication4.Models.Kitap>

@{
    ViewBag.Title = "Kitaplar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@ViewBag.Adminmi
<section class="page-section cta">
    <div class="col-xl-9 mx-auto">

        <p>
            @Html.ActionLink(WebApplication4.Resources.lang.newBook, "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @ViewBag.Adminmi
                    @WebApplication4.Resources.lang.bookName
                </th>
                <th>
                    @WebApplication4.Resources.lang.Sayfa
                </th>
                <th>
                    @WebApplication4.Resources.lang.Yazar
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KitapAdı)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SayfaSayısı)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KitapYazarı)
                    </td>
                    <td>
                        @Html.ActionLink(WebApplication4.Resources.lang.edit, "Edit", new { id = item.KitapId }) |
                        @Html.ActionLink(WebApplication4.Resources.lang.details, "Details", new { id = item.KitapId }) |
                        @Html.ActionLink(WebApplication4.Resources.lang.delete, "Delete", new { id = item.KitapId })
                    </td>
                </tr>
            }

        </table>
    </div>
</section>